@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/general.css">
<link rel="stylesheet" href="~/css/about.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" />


<header class="header">
    <div class="contaner">
        <div class="header-content">
            <div class="logo">
                <img src="./assets/img/book-logo.jpg" alt="">
            </div>
            <nav>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a asp-controller="Home" asp-action="About">About</a>
                    </li>
                   


                </ul>
            </nav>
            <div class="header-icon">
                <a asp-controller="LogIn" asp-action="LogOut"><i class="fa-solid fa-right-to-bracket"></i></a>
            </div>
        </div>
    </div>
</header>

<!-- About Section HTML -->
<div id="about" class="about-section">
    <h2 class="about-section">About Our Library</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, quidem maxime ipsum veniam ducimus
        delectus eligendi perferendis voluptatem eveniet quia assumenda, molestiae maiores commodi. Nostrum
        molestias ut quasi praesentium repudiandae?
    </p>



    <div id="more-info" class="more-info" style="display: none;">
        <p>Our library is constantly expanding. Stay tuned for new features and book collections. Thank you for choosing our library!</p>
    </div>
</div>


